body {
  font-family: 'Comfortaa', cursive !important;
}
.emoji {
    width: 1.25em;
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background: no-repeat 1px 50%;
    background-position-y: calc(50% - 1px);
    background-size: 1.25em 1.25em;
    text-indent: -10em;
    padding: 3px 3px 3px 2px;
    margin: -3px -2px;
    font-style: normal;
}
.post_views:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8%200c2.8897625%200%205.2230958%201.66666667%207%205-1.7769042%203.33333333-4.1102375%205-7%205-2.88976248%200-5.22309581-1.66666667-7-5%201.77690419-3.33333333%204.11023752-5%207-5zm0%201.48148148c-1.98523978%200-3.59459459%201.5752944-3.59459459%203.51851852s1.60935481%203.51851852%203.59459459%203.51851852%203.5945946-1.5752944%203.5945946-3.51851852-1.60935482-3.51851852-3.5945946-3.51851852zm0%201.85185185c.94037674%200%201.7027027.74619209%201.7027027%201.66666667s-.76232596%201.66666667-1.7027027%201.66666667-1.7027027-.74619209-1.7027027-1.66666667.76232596-1.66666667%201.7027027-1.66666667z%22%20fill%3D%22%238197af%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E")
        no-repeat 0 0;
    margin-left: 5px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.error_text {
  color: #fff;
  line-height: 36px !important;
  margin-left: 5px;
  font-size: calc(12px + (18 - 14) * ((100vw - 680px) / (1024 - 480)));
}
.error_box {
  bottom: 0;
  position: fixed;
  background: #2d2d2d;
  width: 100%;
  height: 40px;
  transition: margin-bottom 0.2s;
}
.motd_background {
  background: url("minecraft_dirt_wallpaper_by_thedevartist_d3l1qoj-pre.jpg") !important;
  border-radius: 8px !important;
  height: 8em;
  padding: 0.8em;
}
.reply_post_link {
  margin-bottom: 12px !important;
  margin-top: -12px !important;
  background: #c6c6c6;
  border-radius: 5px !important;
  padding: 4px !important;
}
.post_style_set {
  margin-bottom:0.7em;
  padding-right:8px !important;
  padding-left:8px !important;
}
.neuro_text_block {
  height: 6em;
}

@media (min-width: 768px) {
  .post_margin_set {
    max-width: 80% !important;
    justify-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
