body {
  font-family: 'Comfortaa', cursive !important;
}
.emoji {
    width: 1.5em;
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background: no-repeat 2px 50%;
    background-position-y: calc(50% - 1px);
    background-size: 1.15em 1.15em;
    text-indent: -10em;
    padding: 3px 3px 3px 2px;
    margin: -3px -2px;
    font-style: normal;
}
.post_views:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8%200c2.8897625%200%205.2230958%201.66666667%207%205-1.7769042%203.33333333-4.1102375%205-7%205-2.88976248%200-5.22309581-1.66666667-7-5%201.77690419-3.33333333%204.11023752-5%207-5zm0%201.48148148c-1.98523978%200-3.59459459%201.5752944-3.59459459%203.51851852s1.60935481%203.51851852%203.59459459%203.51851852%203.5945946-1.5752944%203.5945946-3.51851852-1.60935482-3.51851852-3.5945946-3.51851852zm0%201.85185185c.94037674%200%201.7027027.74619209%201.7027027%201.66666667s-.76232596%201.66666667-1.7027027%201.66666667-1.7027027-.74619209-1.7027027-1.66666667.76232596-1.66666667%201.7027027-1.66666667z%22%20fill%3D%22%238197af%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E")
        no-repeat 0 0;
    margin-left: 5px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.error_text {
  color: #191919;
  line-height: 40px !important;
  margin-left: 15px;
  margin-right: 15px;
  font-size: .7em;
}
.error_box {
  bottom: 15px;
  left: 15px;
  position: fixed;
  min-width: 210px;
  max-width: 95%;
  height: 40px;
  transition: margin-bottom .4s;
  border-radius: 0.7em;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 12px black;
}
.motd_background {
  background: url("minecraft_dirt_wallpaper_by_thedevartist_d3l1qoj-pre.jpg");
  border-radius: 8px;
  min-height: 8em;
  padding: 0.8em;
  font-size: 0.8em;
}
.chat_background {
  background: url("minecraft_dirt_wallpaper_by_thedevartist_d3l1qoj-pre.jpg");
  border-radius: 8px;
  min-height: 8em;
  padding: 0.8em;
  font-size: 0.6em;
  justify-content: left;
  text-align: left;
  margin-bottom: 2em;
}
.reply_post_link {
  margin-bottom: 12px;
  margin-top: -12px;
  background: #c6c6c6;
  border-radius: 5px;
  padding: 4px;
}
.post_style_set {
  margin-bottom:0.7em;
  padding-right:8px;
  padding-left:8px;
}
.neuro_text_block {
  min-height: 9em;
}
@media (min-width: 768px) {
  .post_margin_set {
    max-width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.splash_container {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -25px;
}
.splash_scroller {
  height: 50px;
  line-height: 50px;
  float: left;
  margin-left: 5px;
  overflow: hidden;
}
.splash_scroller span {
  display: block; 
  font-size: 200%;
  color: #000;
  }
.splash_scroller .splash_inner {
  -webkit-animation: splash_scroll 10s 1 ease-out;
  -moz-animation: splash_scroll 10s 1 ease-out;
  animation: splash_scroll 10s 1 ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes splash_scroll {
  12%  {margin-top: 0px}
  25%  {margin-top: -50px}
  100%  {margin-top: -50px}
}
@-moz-keyframes splash_scroll {
  12%  {margin-top: 0px}
  25%  {margin-top: -50px}
  100%  {margin-top: -50px}
}
@keyframes splash_scroll {
  12%  {margin-top: 0px}
  25%  {margin-top: -50px}
  100%  {margin-top: -50px}
}
.main_container_anim {
  position: relative;
  transition: top 3s;
}
